<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
      <h2 style="text-align: center;margin-top: 2%;">
        <%= title %>
      </h2>
      <br><br>
      <form action="/save" method="post">
        <div class="form-group">
          <label for="nom">Nom:</label>
          <input type="text" class="form-control" id="email" placeholder="Entrez nom" name="nom" required>
        </div>
        <div class="form-group">
          <label for="nom">Latitude:</label>
          <input type="text" class="form-control" id="email" placeholder="Entrez latitute" name="latitude" required>
        </div>
        <div class="form-group">
          <label for="nom">Longitude:</label>
          <input type="text" class="form-control" id="email" placeholder="Entrez longitude" name="longitude" required>
        </div>
        <div class="form-group">
          <label for="nom">Ville:</label>
          <input type="text" class="form-control" id="email" placeholder="Entrez ville" name="ville" required>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
    </div>

</body>

</html>